.swiper{}
.vux-swiper-item{
    padding: 0.1rem;
    box-sizing: border-box;
}
.vux-swiper-item a img{
}
.weui-search-bar__form .weui-search-bar__label {
    margin-top: 4px;
    text-align: left;
}
.tabe_bar .weui-tabbar{
    position: static;
}
.search{
    font-size: 14px;
}

.weui-tabbar__item{
    overflow: hidden;
    .weui-tabbar__icon img {
         width: auto;
    }
}
.see_video{
    padding: 0 0.025rem;
    .viedo_title{
        height: 0.3rem;
        margin-top: 0.03rem;
        .video_title_p{
            line-height: 0.3rem;
            font-size: 0.123rem;
            width: 100%;
            .p_left{
                float: left;
                margin-left: 0.15rem;
                i{
                    display: block;
                    float: left;
                    width: 0.17rem;
                    height: 0.2rem;
                    margin-right: 0.08rem;
                }
            }
            .p_right{
                float: right;
                margin-right: 0.15rem;
                .goToSee{
                    .see_video_num{
                        color: #df92a4;
                    }
                }
                .go_video{
                    width: 0.17rem;
                    height: 0.17rem;
                    background: #010101;
                    color: white;
                    border: none;
                    outline: none;
                    border-radius: 100%;
                }
            }
        }
    }
    .video_list{
        margin-top: 0.05rem;
        .video_list_nav{
            .video_list_ul{
                .video_list_li{
                    list-style: none;
                    float: left;
                    width: 40%;
                    margin: 0 5%;
                    height: 1.61rem;
                    font-size: 0.14rem;
                    border: solid 1px #e3e3e3;
                    box-shadow: 0 0 3px #e3e3e3;
                    box-sizing: border-box;
                    position: relative;
                    margin-bottom: 0.2rem;
                    .video_pic_name{
                        display: block;
                        position: relative;
                        .man_video_name{
                            position: absolute;
                            bottom: 0.08rem;
                            font-size: 0.10rem;
                            left: 0.06rem;
                            color: white;
                        }
                    }
                    .video_intro{
                        width: 95%;
                        margin: 0 auto;
                        overflow : hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    .video_style_num{
                        font-size: 0.10rem;
                        margin-top: 0.1rem;
                        color: #999999;
                        padding: 0 0.08rem;
                        position: absolute;
                        bottom: 0.05rem;
                        width: 100%;
                        .video_style{
                            float: left;
                        }
                        .video_num{
                            float: right;
                            margin-right: 0.13rem;
                            i{
                                width: 0.15rem;
                                height: 0.15rem;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
}
